{% extends "base.html" %}

{% block content %}
<table class="">
    <thead>
        <tr>
            <th>Hash</th>
            <th>Title</th>
            <th>Status</th>
            <th>Last Modified</th>
        </tr>
    </thead>
    <tbody>
        {% for event in events %}
        <tr>
            <td>
                <a class="uuid" href="{{ url_for('event_detail_view', evt_uuid=event.evt_uuid) }}">
                    {{ event.evt_uuid[:12] }}
                </a>
            </td>
            <td>{{ event.title }}</td>
            <td style="background-color: beige;">{{ event.status }}</td>
            <td>{{ event.evt_mtime | strftime }}</td>
        </tr>
        {% else %}
        <tr>
            <td colspan="4">No events found.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
